<?xml version="1.0" ?>
<launch>

<!-- world ,環境とroombaの設置 -->
	<!-- these are the arguments you can pass this launch file, for example paused:=true -->
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<!-- We resume the logic in empty_world.launch, changing only the name of the worl to launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find knmrobot_description)/urdf/roomba_test.urdf.xacro'"/>

	<!-- Run a python script to the send a service call to gazebo_ros to spawn aURDF robot -->
	
	<!--arg name="robot_description" value="/home/amsl/ros_catkin_ws/src/knmrobot_description/urdf/roomba_test.urdf"/-->

	<!--node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -z 1 -model infant -file /home/amsl/ros_catkin_ws/src/knmrobot_description/urdf/roomba_test.urdf"/-->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -z 1 -model roomba -param robot_description"/>


<!-- roombaをROSで動かせるようにする -->
	<rosparam file="$(find knmrobot_control)/config/roomba_test.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/roomba_test" args="joint_state_controller
		mobile_base_controller"/>
	
	<node name="robot_state_publiser" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/roomba_test/joint_states"/>
	</node>

</launch>
