<?xml version="1.0" ?>
<launch>


	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find knmrobot_description)/urdf/roomba_test2.urdf.xacro'"/>

	<!-- Run a python script to the send a service call to gazebo_ros to spawn aURDF robot -->
	
	<!--arg name="robot_description" value="/home/amsl/ros_catkin_ws/src/knmrobot_description/urdf/roomba_test.urdf"/-->

	<!--node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -z 1 -model infant -file /home/amsl/ros_catkin_ws/src/knmrobot_description/urdf/roomba_test.urdf"/-->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -z 0.0701 -model roomba -param robot_description"/>

</launch>
